<div class="container" style="margin-top: 1rem ;">
    <div class="row">
        <div class="col-4">
            <div class="col-12">
                <form [formGroup]="myForm">
                    <div class="block"> Jewelry Type </div>
                    <ul>
                        <input type="radio" id="Ring" checked formControlName="type" value="Ring">
                        <label for="Ring">Ring</label><br>
                    </ul>

                    <div class="block"> Gem Color </div>
                    <ul>
                        <input type="radio" id="Gold" checked formControlName="gem" value="Gold">
                        <label for="Gold">Gold</label><br>
                        <input type="radio" id="Saphire" formControlName="gem" value="Saphire">
                        <label for="Saphire">Saphire</label><br>
                        <input type="radio" id="Ruby" formControlName="gem" value="Ruby">
                        <label for="Ruby">Ruby</label><br>
                        <input type="radio" id="Emerald" formControlName="gem" value="Emerald">
                        <label for="Emerald">Emerald</label><br>
                    </ul>

                    <div class="block"> Final Price </div>
                    <ul>
                        <input readonly type="text" class="price"  formControlName="price">
                    </ul>

                    <div *ngIf="isLoggedIn">
                        <button class="btn btn-j-primary btn-block" (click)="saveJewels()"> 
                            Add to Cart 
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div *ngIf="!isLoggedIn">
                        <button class="btn btn-block" disabled> 
                            Register to buy
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8" id="render">
        </div>
    </div>
</div>