<div class="container" style="margin-top: 1rem ;">
    <div class="row">
        <div class="col-4">
            <div class="col-12">
                <form [formGroup]="myForm">
                    <div class="block"> Jewelry Type </div>
                    <ul>
                        <br>
                        <mat-radio-group formControlName="type" >
                            <mat-radio-button checked value="Ring"  >Ring</mat-radio-button>
                        </mat-radio-group>
                    </ul>

                    <div class="block"> Gem Color </div>
                    <ul>
                        <mat-radio-group formControlName="gem" >
                            <br>
                            <mat-radio-button value="Gold" >Gold</mat-radio-button>
                            <br>
                            <mat-radio-button value="Saphire" >Saphire</mat-radio-button>
                            <br>
                            <mat-radio-button value="Ruby" >Ruby</mat-radio-button>
                            <br>
                            <mat-radio-button value="Emerald" >Emerald</mat-radio-button>
                            <br>
                        </mat-radio-group>
                          
                    </ul>

                    <div class="block"> Final Price </div>
                    <ul>
                        <input readonly type="text" class="price"  formControlName="price">
                    </ul>

                    <div *ngIf="isLoggedIn">
                        <button class="btn btn-j-primary btn-block" (click)="saveJewels()"> 
                            Add to Cart 
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div *ngIf="!isLoggedIn">
                        <button class="btn btn-block" disabled> 
                            Register to buy
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8" id="render">
        </div>
    </div>
</div>